body {
    background-color: #1a1b1a;
    position: relative
    /* padding: 40px; */
}

/* set image border to dark reader color  */
.lg-outer .lg-thumb-item {
    /* border: 2px solid #9999999c; */
    border-color: rgb(46, 47, 45);
}

::-webkit-scrollbar {
    background-color: #1a1b1a;
    color: #bfb29c;
}
::-webkit-scrollbar-thumb {
    background-color: #9999999c;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
}
::-webkit-scrollbar-corner {
    background-color: #101110;
}

#gallery-container {
    margin-top: 5px; 
}

#tab-bar {
    display: flex;
    background-color: rgba(26, 27, 26, 0.5); 
    border-radius: 10px;
    opacity : 0.8;
}

#description-button {
    flex: 0 1 10%; /* flex-grow: 0; flex-shrink: 0; flex-basis: 10%; */
    position: relative;

}

#description-button.tab {
    background-color: rgba(43, 107, 77, 0.60);
}

#description-button.sticky {
    background-color: none;
}

#description-box {
    /* visibility: hidden; */
    /* Initially hide the description box */
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    z-index: 500;
    /* top: calc(100% - 50px); */
    top: 50%;  
    left: 50%; 
    max-width: 90vw; 
    max-height: 80vh;
    /* min-width: 70vw;
    min-height: 80vw;; */
    width: auto;
    height:auto;

    transform: translate(-50%, -50%); 
    /* Position it relative to the viewport */
    position: fixed; 
    padding: 16px;
    border-radius: 12px;
    /* font-size: 20px; */
    font-size: 1.5em;

    box-shadow: 0px 0px 100px 5px rgba(43, 230, 158, 0.452); 
    /* box-shadow: 0px 0px 100px 5px rgba(69, 69, 70, 0.582);  */
    /* box-shadow: 0px 0px 50px 5px rgba(216, 255, 240, 0.747);  */

    line-height: 1.5;
    overflow: auto;
    letter-spacing: 0.0025em;  
}

@media (max-width: 768px) {
    #description-box {
        font-size: 1.25rem;
        padding: 8px;
        line-height: 1.25;
        min-width: 80vw; 
        max-width: 90vw; 
        min-height: 80vw;
        max-height: 90vh;
    }
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
    font-style: oblique;
    font-family: Arial, sans-serif; 
}

#links {
    /* flex: auto; */
    float: right;
    padding: 5px;
    border-radius: 10px;
}

#close-description {
    float:right;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    /* padding-bottom: 10px; */
    /* margin-bottom: 10px; */
    font-size: 1.25rem;
    font-weight: bold;
    padding: 4px 4px;
    border-radius: 4px;
    border: none;
}

#close-description:hover {
    background-color: #777;
    opacity: 0.875;
    /* border-radius: 8px; */
}

#github {
    position: sticky;
    background-color: rgba(26, 27, 26, 0.459);
    letter-spacing: 0.5px;  
    color: #FFFFF0;
    border-radius: 20px;
    border: none;
    padding: 3px 3px; 
}

#github:hover {
    background-color: rgba(5, 81, 174, 0.6); 
    opacity: 0.875;
}

.icon {
    width: 32px; /* Set width of the icon */
    height: auto; /* Set height of the icon */
    vertical-align: middle; /* Align icon vertically in button */
    /* margin-right: 5px; */
  }

.tabcontent {
    /* padding: 100px 20px; */
    height: 100%;
}

.tab {
    flex: 1;
    background-color: rgba(26, 27, 26, 0.6);
    /* text-transform: uppercase;   */
    /* font-weight: bold; */
    font-family: Helvetica; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    letter-spacing: 0.5px;  
    color: #FFFFF0;
    float: left;
    border: none;
    outline: thick #32a1ce;
    cursor: pointer;
    padding: 14px 16px;
    text-align: center;
    font-size: 17px;
    /* width: 50%; */
    /* transition: background-color 0.08s; */
    border-radius: 10px;
    white-space: nowrap;
}
  
.tab:hover {
    background-color: #777;
    opacity: 0.875;
}

.sticky {
    position: fixed;
    top: 0;
    font-size: 12px;
    opacity : 0.8;
    /* flex: 1; */
    /* width: 50%; */
    z-index: 99;
    background-color: rgba(26, 27, 26, 0.5); 
}

#oneko {
    z-index: 1000;
}

/* .justified-gallery {
    width: 100%;
    position: relative;
    overflow: hidden;
} */

